.catalog
  .card
    @media (min-width: 0px)
     //height: 500px

    @media (min-width: 1290px)
      //height: 850px


  .bg-kran
    background: url("../img/autokran.png") no-repeat center top
    background-size: contain
    min-height: 257px
    height: 100%
    @media (min-width: 768px)
      background-size: contain
    @media (min-width: 1290px)
      background-size: 80%


  .bg-greyder
    background: url("../img/autogreyder.png") no-repeat center top
    background-size: contain
    min-height: 257px
    height: 100%
    @media (min-width: 768px)
      background-size: contain
    @media (min-width: 1290px)
      background-size: 80%


  .bg-front
    background: url("../img/front.png") no-repeat center top
    background-size: contain
    min-height: 257px
    height: 100%
    @media (min-width: 768px)
      background-size: contain
    @media (min-width: 1290px)
      background-size: 80%


  .bg-samosval
    background: url("../img/samosval.png") no-repeat center top
    background-size: contain
    min-height: 257px
    height: 100%
    @media (min-width: 768px)
      background-size: contain
    @media (min-width: 1290px)
      background-size: 80%


  .bg-katok
    background: url("../img/katok.png") no-repeat center top
    background-size: contain
    min-height: 257px
    height: 100%
    @media (min-width: 768px)
      background-size: contain
    @media (min-width: 1290px)
      background-size: 80%


  .bg-buldozer
    background: url("../img/buldozer.png") no-repeat center top
    background-size: contain
    min-height: 257px
    height: 100%
    @media (min-width: 768px)
      background-size: contain
    @media (min-width: 1290px)
      background-size: 80%


  .bg-eks
    background: url("../img/eks.png") no-repeat center top
    background-size: contain
    min-height: 257px
    height: 100%
    @media (min-width: 768px)
      background-size: contain
    @media (min-width: 1290px)
      background-size: 80%

  .bg-eks-2
    background: url("../img/kolesniy-eks-2.png") no-repeat center top
    background-size: contain
    min-height: 257px
    height: 100%
    @media (min-width: 768px)
      background-size: contain
    @media (min-width: 1290px)
      background-size: 80%


