<section id="blockCatalog" class="catalog bg-grey">
    <div class="container mx-auto pb-16">
        <p class="text-dark-grey text-center font-MontserratSemiBold lg:text-52 md:text-4xl text-32 pt-16">Каталог <span
                class="text-dark-yellow">спецтехники</span></p>
        <div class="pt-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
            <!--Card 1-->
            <div class="card flex flex-col items-end text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 ">
                <div class=" w-full h-1/2">
                    <div class="bg-kran"></div>
                </div>
                <div class="w-full flex items-end justify-center h-1/2">
                    <div class="flex flex-col flex-grow">
                        <p class="font-MontserratSemiBold text-dark-grey lg:text-42 md:text-26 text-32 mb-3">
                            Автокран</p>
                        <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                        <a class="mx-auto self-end btn-2 md:w-full lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base self-end"
                           href="zakazat.html">заказать</a>
                    </div>
                </div>
            </div>
            <!--Card 2-->
            <div class="card flex flex-col items-end text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 ">
                <div class=" w-full h-1/2">
                    <div class="bg-greyder"></div>
                </div>
                <div class="w-full flex items-end justify-center h-1/2">
                    <div class="flex flex-col flex-grow">
                        <p class="font-MontserratSemiBold text-dark-grey lg:text-42 md:text-26 text-32 mb-3">
                            Автогредер</p>
                        <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                        <a class="mx-auto self-end btn-2 md:w-full lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base self-end"
                           href="zakazat.html">заказать</a>
                    </div>
                </div>
            </div>
            <!--Card 3-->
            <div class="card flex flex-col items-end text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 ">
                <div class=" w-full h-1/2">
                    <div class="bg-front"></div>
                </div>
                <div class="w-full flex items-end justify-center h-1/2">
                    <div class="flex flex-col flex-grow">
                        <p class="font-MontserratSemiBold text-dark-grey lg:text-42 md:text-26 text-32 mb-3">Фронтальный
                            погрузчик</p>
                        <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                        <a class="mx-auto self-end btn-2 md:w-full lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base self-end"
                           href="zakazat.html">заказать</a>
                    </div>
                </div>
            </div>
            <!--Card 4-->
            <div class="card flex flex-col items-end text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 ">
                <div class=" w-full h-1/2">
                    <div class="bg-samosval"></div>
                </div>
                <div class="w-full flex items-end justify-center h-1/2">
                    <div class="flex flex-col flex-grow">
                        <p class="font-MontserratSemiBold text-dark-grey lg:text-42 md:text-26 text-32 mb-3">
                            Самосвал</p>
                        <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                        <a class="mx-auto self-end btn-2 md:w-full lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base self-end"
                           href="zakazat.html">заказать</a>
                    </div>
                </div>
            </div>
            <!--Card 5-->
            <div class="card flex flex-col items-end text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 ">
                <div class=" w-full h-1/2">
                    <div class="bg-katok"></div>
                </div>
                <div class="w-full flex items-end justify-center h-1/2">
                    <div class="flex flex-col flex-grow">
                        <p class="font-MontserratSemiBold text-dark-grey lg:text-42 md:text-26 text-32 mb-3">Каток</p>
                        <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                        <a class="mx-auto self-end btn-2 md:w-full lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base self-end"
                           href="zakazat.html">заказать</a>
                    </div>
                </div>
            </div>
            <!--Card 6-->
            <div class="card flex flex-col items-end text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 ">
                <div class=" w-full h-1/2">
                    <div class="bg-buldozer"></div>
                </div>
                <div class="w-full flex items-end justify-center h-1/2">
                    <div class="flex flex-col flex-grow">
                        <p class="font-MontserratSemiBold text-dark-grey lg:text-42 md:text-26 text-32 mb-3">Бульдозер
                            гусеничный</p>
                        <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                        <a class="mx-auto self-end btn-2 md:w-full lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base self-end"
                           href="zakazat.html">заказать</a>
                    </div>
                </div>
            </div>
            <!--Card 7-->
            <div class="card flex flex-col items-end text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 ">
                <div class=" w-full h-1/2">
                    <div class="bg-eks"></div>
                </div>
                <div class="w-full flex items-end justify-center h-1/2">
                    <div class="flex flex-col flex-grow">
                        <p class="font-MontserratSemiBold text-dark-grey lg:text-42 md:text-26 text-32 mb-3">
                            Экскаватор</p>
                        <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                        <a class="mx-auto self-end btn-2 md:w-full lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base self-end"
                           href="zakazat.html">заказать</a>
                    </div>
                </div>
            </div>
            <!--Card 8-->
            <div class="card flex flex-col items-end text-center justify-center cursor-pointer rounded-xl bg-white overflow-hidden shadow-lg py-10 px-7 md:px-8 ">
                <div class=" w-full h-1/2">
                    <div class="bg-eks-2"></div>
                </div>
                <div class="w-full flex items-end justify-center h-1/2">
                    <div class="flex flex-col flex-grow">
                        <p class="font-MontserratSemiBold text-dark-grey lg:text-42 md:text-26 text-32 mb-3">
                            Колесный экскаватор <br>погрузчик</p>
                        <span class="font-MontserratRegular text-light-grey lg:text-26 md:text-base text-lg mb-3">От 1720 $/час</span>
                        <a class="mx-auto self-end btn-2 md:w-full lg:px-28 lg:w-auto w-full uppercase font-MontserratBold text-base self-end"
                           href="zakazat.html">заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>