<section class="catalog bg-grey">
    <div class="container mx-auto pb-16">
        <p class="text-dark-grey text-center font-MontserratSemiBold text-5xl pt-16">Каталог <span
                class="text-dark-yellow">спецтехники</span></p>


        <div class="pt-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
            <!--Card 1-->
            <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 flex flex-col">
                <div class="flex flex-col flex-grow justify-between">
                    <div class="flex flex-grow items-center justify-center">
                        <img src="img/autokran.png" alt="">
                    </div>
                    <div class="">
                        <p class="font-MontserratSemiBold text-dark-grey text-4xl py-5">Автокран</p>
                        <span class="font-MontserratRegular text-light-grey text-2xl">От 1720 $/час</span></div>
                </div>
                <a class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">подробнее</a>
            </div>
            <!--Card 2-->
            <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 flex flex-col">
                <div class="flex flex-col flex-grow justify-between">
                    <div class="flex flex-grow items-center justify-center">
                        <img src="img/autogreyder.png" alt="">
                    </div>
                    <div class="">
                        <p class="font-MontserratSemiBold text-dark-grey text-4xl py-5">Автогредер</p>
                        <span class="font-MontserratRegular text-light-grey text-2xl">От 1720 $/час</span></div>
                </div>
                <a class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">подробнее</a>
            </div>
            <!--Card 3-->
            <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 flex flex-col">
                <div class="flex flex-col flex-grow justify-between">
                    <div class="flex flex-grow items-center justify-center">
                        <img src="img/front.png" alt="">
                    </div>
                    <div class="">
                        <p class="font-MontserratSemiBold text-dark-grey text-4xl py-5">Фронтальный погрузчик</p>
                        <span class="font-MontserratRegular text-light-grey text-2xl">От 1720 $/час</span></div>
                </div>
                <a class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">подробнее</a>
            </div>
            <!--Card 4-->
            <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 flex flex-col">
                <div class="flex flex-col flex-grow justify-between">
                    <div class="flex flex-grow items-center justify-center">
                        <img src="img/samosval.png" alt="">
                    </div>
                    <div class="">
                        <p class="font-MontserratSemiBold text-dark-grey text-4xl py-5">Самосвал</p>
                        <span class="font-MontserratRegular text-light-grey text-2xl">От 1720 $/час</span></div>
                </div>
                <a class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">подробнее</a>
            </div>
            <!--Card 5-->
            <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 flex flex-col">
                <div class="flex flex-col flex-grow justify-between">
                    <div class="flex flex-grow items-center justify-center">
                        <img src="img/katok.png" alt="">
                    </div>
                    <div class="">
                        <p class="font-MontserratSemiBold text-dark-grey text-4xl py-5">Каток</p>
                        <span class="font-MontserratRegular text-light-grey text-2xl">От 1720 $/час</span></div>
                </div>
                <a class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">подробнее</a>
            </div>
            <!--Card 6-->
            <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 flex flex-col">
                <div class="flex flex-col flex-grow justify-between">
                    <div class="flex flex-grow items-center justify-center">
                        <img src="img/buldozer.png" alt="">
                    </div>
                    <div class="">
                        <p class="font-MontserratSemiBold text-dark-grey text-4xl py-5">Бульдозер гусеничный</p>
                        <span class="font-MontserratRegular text-light-grey text-2xl">От 1720 $/час</span></div>
                </div>
                <a class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">подробнее</a>
            </div>
            <!--Card 7-->
            <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 flex flex-col">
                <div class="flex flex-col justify-between">
                    <div class="flex items-center justify-center min-h-0 min-w-0">
                        <img src="img/eks.png" alt="">
                    </div>
                    <div class="">
                        <p class="font-MontserratSemiBold text-dark-grey text-4xl py-5">Экскаватор</p>
                        <span class="font-MontserratRegular text-light-grey text-2xl">От 1720 $/час</span></div>
                </div>
                <a class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">подробнее</a>
            </div>













        </div>


    </div>


</section>