<section class="block-service">
    <div class="container mx-auto py-10 border-b-2">
        <div class="flex items-center">
            <div class="w-1/2 relative">
                <span class="relative z-10 font-MontserratBold text-5xl leading-tight">АРСТ - это удобный <br>
и надёжный сервис
аренды спецтехники</span>
                <div class="line-title bg-dark-yellow"></div>
            </div>
            <div class="w-1/2">
                <p class="font-MontserratRegular text-light-grey text-xl">Зачем содержать свой парк, если можно иметь доступ
                    к 7 000 единицам техники, которые не нужно обслуживать, заправлять, и держать в штате машиниста.
                    <br> <br>
                    В нашем сервисе вы платите только за часы аренды технки.
                    В нашем сервисе вы платите только за часы аренды технки.</p>
            </div>
        </div>
    </div>
</section>