<section class="advant bg-grey">
    <div class="container">
        <p class="text-dark-grey text-center font-MontserratSemiBold text-32 md:text-4xl lg:text-52 pt-16">Преимущество аренды <span class="text-dark-yellow pl-4 sm:pl-0">техники у нас</span></p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 py-12">
            <div class="flex flex-col font-MontserratRegular text-22 text-dark-grey ">
                <div class="bg-check pl-16 my-5">Аренда всех видов спецтехники в одном сервисе</div>
                <div class="bg-check pl-16 my-5">Финансовая безопасность - исключается риск
                    непредоставления техники и потери аванса</div>
                <div class="bg-check pl-16 my-5">Финансовая безопасность - исключается риск
                    непредоставления техники и потери аванса</div>
            </div>
            <div class="flex flex-col font-MontserratRegular text-22 text-dark-grey ">
                <div class="bg-check pl-16 my-5">Аренда всех видов спецтехники в одном сервисе</div>
                <div class="bg-check pl-16 my-5">Финансовая безопасность - исключается риск
                    непредоставления техники и потери аванса</div>
                <div class="bg-check pl-16 my-5">Финансовая безопасность - исключается риск
                    непредоставления техники и потери аванса</div>
            </div>
        </div>
    </div>
</section>