.main-banner
  .bg-image
    height: 960px
    background-image: url(../img/lib.png)
    background-repeat: no-repeat
    background-position: center right
    background-size: contain

    @media (max-width: 1649px)
      background-position: 115% 100%
      background-size: contain

    @media (max-width: 1485px)
      background-position: 130% 100%

    @media (max-width: 1380px)
      background-position: 150% 100%

    @media (max-width: 1279px)
      background-position: 165% 100%

    @media (max-width: 1140px)
      background-position: 185% 0%
      background-size: 80%

    @media (max-width: 1023px)
      background-position: 25em 0%
      background-size: contain
      height: 855px

    @media (max-width: 800px)
      background-position: 19em 0%
      background-size: 88%
      height: 713px


    @media (max-width: 767px)
      background-image: url(../img/bg-mob.png)
      background-repeat: no-repeat
      background-position: 150% top
      background-size: contain
      height: 696px

    @media (max-width: 640px)
      height: 495px

    @media (max-width: 425px)
      height: 480px


  .subtitle
    width: auto
    @media (max-width: 1279px)
      width: 85%
    @media (max-width: 1220px)
      width: 80%


  .abs-text
    top: 110px
    right: -14px
    z-index: 10
    @media (max-width: 1279px)
      right: -57px
      color: #666666
    @media (max-width: 1023px)
      right: 0
      top: 85px
    @media (max-width: 767px)
      right: 90px
      color: #ffffff
    @media (max-width: 639px)
      top: 58px
      right: 62px

  .line-title
    position: absolute
    width: 610px
    height: 15px
    top: 179px
    right: -40px
    z-index: 9
    @media (max-width: 1279px)
      right: -80px
    @media (max-width: 1023px)
      right: -8px
      top: 143px
      width: 470px
    @media (max-width: 767px)
      left: 70px
      top: 144px
      width: 461px
    @media (max-width: 639px)
      left: -5px
      top: 108px
      width: 355px


  .main-title
    width: 465px


