.main-banner
  .bg-image
    height: 960px
    //background-image:url(../img/lib.png)

  .abs-text
    top: 110px
    right: -50px

  .line-title
    position: absolute
    width: 610px
    height: 15px
    top: 179px
    right: -76px
    z-index: 9


