<section class="main-banner">
    <div class="container-fluid bg-grey">
        <div class="container-3xl relative mx-auto">
            <div class="container mx-auto">
                <div class="flex flex-row items-center justify-start">
                    <div class="w-2/5">

                        <div class="relative">

                            <span class="absolute font-MontserratBlack text-dark-grey-2 abs-text uppercase text-base"> Надёжная аренда для вас</span>

                            <div class="line-title bg-dark-yellow"></div>

                            <span class="relative z-10 font-MontserratBold text-7xl leading-tight">Аренда спецтехники для вашего бизнеса</span>


                        </div>
                        <p class="text-light-grey text-xl my-5">Очевидно, что эксимер спонтанно стабилизирует
                            наносекундный гамма-квант. Взвесь,
                            вследствие квантового характера явления, наблюдаема. Тело случайно.</p>

                        <a class="btn-2 uppercase font-MontserratBold my-5 text-base" href="#">заказать технику</a>
                    </div>

                    <div class="w-1/2 bg-image">
                        <img class="absolute right-0" src="img/lib.png" alt="">
                    </div>
                </div>
            </div>


        </div>
    </div>


</section>