<header>
    <div class="container mx-auto">
        <div class="flex items-center justify-between py-2">
            <a href="index.html"><img class="logo" src="img/logo.svg" alt=""></a>
            <div class="pl-10 xl:pl-0 flex flex-col block-header">
                <div class="hidden md:flex py-3.5 adress justify-end lg:justify-between font-MontserratMedium uppercase text-xs lg:text-base text-dark-grey">
                    <div class="flex items-baseline hidden lg:flex">
                        <i class="fa fa-lg fa-map-marker pr-2" aria-hidden="true"></i>
                        <span class="">г. Краснодар, ул. советская 12</span>
                    </div>
                    <div class="pr-10 lg:pr-0 flex items-baseline">
                        <i class="fa fa-lg fa-envelope pr-2" aria-hidden="true"></i>
                        <span>info.arst@mail.ru</span>
                    </div>
                    <div class="flex items-center">
                        <i class="fa fa-lg fa-phone pr-2" aria-hidden="true"></i>
                        <span>тел: 8 800 987 65 43</span>
                    </div>
                </div>
                <div class="hidden md:flex justify-end lg:justify-between items-center py-3.5">
                    <div class="menu menu-width">
                        <ul class="flex justify-between text-brownish-grey font-MontserratRegular text-base">
                            <li><a href="#blockCatalog">Каталог</a></li>
                            <li><a href="zakazchikam.html">Заказчикам</a></li>
                            <li><a href="vladelcam.html">Владельцам</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                    <a id="" class="hidden lg:block btn-1 text-dark-grey font-MontserratBold" href="#callTo">заказать звонок</a>
                </div>
            </div>
            <!--burger menu-->
            <div class="flex md:hidden relative menu-mob">
                <div class="burger">
                    <span></span>
                </div>
                <div class="menu_mob">
                    <div class="w-full flex justify-center">
                        <div class="flex flex-col">
                            <ul class="items-start flex flex-col justify-between text-brownish-grey font-MontserratRegular text-xl mb-4">
                                <li class="py-3"><a href="zakazat.html">Каталог</a></li>
                                <li class="py-3"><a href="zakazchikam.html">Заказчикам</a></li>
                                <li class="py-3"><a href="vladelcam.html">Владельцам</a></li>
                                <li class="py-3"><a href="#">Контакты</a></li>
                            </ul>
                            <div class="flex flex-col font-MontserratMedium uppercase 2sm:text-base text-sm text-dark-grey">
                                <div class="flex items-baseline py-3">
                                    <i class="fa fa-lg fa-map-marker pr-4" aria-hidden="true"></i>
                                    <span class="">г. Краснодар, ул. советская 12</span>
                                </div>
                                <div class="flex items-baseline py-3">
                                    <i class="fa fa-lg fa-envelope  pr-2" aria-hidden="true"></i>
                                    <span>info.arst@mail.ru</span>
                                </div>
                                <div class="flex items-center py-3">
                                    <i class="fa fa-lg fa-phone  pr-2" aria-hidden="true"></i>
                                    <span>тел: 8 800 987 65 43</span>
                                </div>
                            </div>
                           <a class="btn-1 text-dark-grey font-MontserratBold text-center" href="#">заказать звонок</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>