<section class="popular">
    <div class="container-fluid  bg-dark-grey">
        <div class="container mx-auto pb-16">
            <p class="text-dark-grey text-center font-MontserratSemiBold text-5xl pt-16">Самые популярные <span
                    class="text-dark-yellow">предложения</span></p>
            <div class="pt-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
                <!--Card 1-->
                <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 px-16 flex flex-col">
                    <div class="flex flex-col flex-grow justify-between">
                        <div>
                            <div class="py-5 uppercase mx-auto round-digit font-MontserratBlack text-base text-dark-grey-2">
                                арендовать технику сейчас
                            </div>
                            <div class="font-MontserratMedium text-3xl text-dark-grey px-10">Заказать спецтехнику
                                онлайн
                            </div>
                        </div>
                        <p class="font-MontserratMedium text-light-grey text-light-grey text-base leading-9">Вы
                            можете
                            заказать спецтехнику напрямую из каталога сервиса. Вам нужно перейти в наш каталог,
                            выбрать от, что вам нужно и оформить заявку в 3 простых этапа.</p>
                    </div>
                    <a class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">перейти в
                        каталог</a>
                </div>
                <!--Card 2-->
                <div class="card cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 px-16 flex flex-col">
                    <div class="flex flex-col flex-grow justify-between">
                        <div>
                            <div class="py-5 uppercase mx-auto round-digit font-MontserratBlack text-base text-dark-grey-2">
                                арендовать технику сейчас
                            </div>
                            <div class="font-MontserratMedium text-3xl text-dark-grey px-10">Заказать спецтехнику
                                онлайн
                            </div>
                        </div>
                        <p class="font-MontserratMedium text-light-grey text-light-grey text-base leading-9">Вы
                            можете
                            заказать спецтехнику напрямую из каталога сервиса. Вам нужно перейти в наш каталог,
                            выбрать от, что вам нужно и оформить заявку в 3 простых этапа.</p>
                    </div>
                    <a class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">перейти в
                        каталог</a>
                </div>
            </div>


            <div class="pt-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-5">
            <!--Card 3-->
            <div class="card-2 w-full cursor-pointer text-center rounded-xl bg-white overflow-hidden shadow-lg py-10 flex">
                <div class="px-16 w-1/2 text-left">
                    <div class="text-left flex flex-col flex-grow justify-between">
                        <div>
                            <div class="py-5 uppercase mx-auto round-digit font-MontserratBlack text-base text-dark-grey-2">
                                арендовать технику сейчас
                            </div>
                            <div class="font-MontserratMedium text-3xl text-dark-grey">Спецпредложение
                                для шеринга автогрейдера</div>
                        </div>
                        <p class="font-MontserratMedium text-light-grey text-light-grey text-base leading-9">Вы
                            можете
                            заказать спецтехнику напрямую из каталога сервиса. Вам нужно перейти в наш каталог,
                            выбрать от, что вам нужно и оформить заявку в 3 простых этапа.</p>
                    </div>
                    <a class="self-end btn-2 uppercase font-MontserratBold my-5 text-base" href="#">перейти в
                        каталог</a></div>
                <div class="w-1/2">
                    <div class="bg-cards"></div>
                </div>
            </div>
            </div>

        </div>

    </div>
</section>