<footer class="footer bg-blue-footer relative pt-1">

        <div class="container mx-auto">
            <div class="sm:flex sm:mt-8">
                <div class="mt-8 sm:mt-0 sm:w-full flex flex-col sm:flex-row justify-between">
                    <div class="flex-col services hidden sm:block">
                        <span class="title mb-2 mt-4 md:mt-0 mb-2 border-b-1">Сервисный центр «Плаза»</span>
                        <p class="py-3">Если вам необходима диагностикаи
                            ремонт бытовой техники в
                            Краснодаре, обращайтесь к нам,
                            не задумываясь, мы всегда рады
                            вам помочь!</p>
                    </div>
                    <div class="flex-col menu-title hidden lg:block">
                        <div class="flex-col mx-auto">
                            <span class="title border-b-1 block">Меню</span>
                            <span class="py-4 border-b-1 block"><a href="#"
                                                                   class="uppercase text-md hover:text-blue-500">о сервисе</a></span>
                            <span class="py-4 border-b-1 block"><a href="#" class="uppercase hover:text-blue-500">авторизация</a></span>
                            <span class="py-4 border-b-1 block"><a href="#"
                                                                   class="uppercase hover:text-blue-500">запчасти</a></span>
                            <span class="py-4 block"><a href="#"
                                                        class="uppercase hover:text-blue-500">вопрос-ответ</a></span>
                        </div>
                    </div>
                    <div class="flex-col contacts-footer mx-auto">
                        <span class="title mb-2 mt-4 md:mt-0 mb-2 border-b-1 hidden md:block">Контакты</span>
                        <div class="flex flex-col items-center md:items-start pt-3 pb-3">
                            <div class="flex flex-col items-center">
                                <span class="phone">+7 (928) 407-99-94</span>
                                <span class="phone-title pt-1">(приемная зона)</span></div>
                        </div>
                        <div class="flex flex-col items-center md:items-start pt-2 pb-3">
                            <div class="flex flex-col items-center">
                                <span class="phone">+7 (861) 239-77-61 </span>
                                <span class="phone-title pt-1">(телефон/факс)</span></div>
                        </div>
                        <div class="flex flex-col items-center md:items-start pt-2 pb-3">
                            <div class="flex flex-col items-center">
                                <span class="phone">+7 (918) 955-95-99</span>
                                <span class="phone-title pt-1">(многоканальный)</span></div>
                        </div>
                        <div class="flex flex-col items-center py-1">
                            <span class="manager">manager@service-krasnodar.ru</span>
                        </div>
                    </div>
                    <div class="flex-col times hidden sm:block">
                        <span class="title mb-2 mt-4 md:mt-0 mb-2 border-b-1 block">Режим работы</span>
                        <span class="my-2">Пн.-пт. с 9.00 до 19.00 <br>Суббота с 10.00 до 16.00 <br> Воскресенье - выходной</span>
                        <a href="#" class="my-2 py-1 cursor-pointer text-center btn-1 w-full text-xxs">ЧТО С МОИМ
                            ЗАКАЗОМ?</a></span>
                        <a href="#" class="my-2 py-1 cursor-pointer text-center btn-1 w-full text-xxs">ВЫЗВАТЬ
                            МАСТЕРА</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid sub-footer">
            <div class="container mx-auto text-center">
                <div class="flex flex-col md:flex-row items-center justify-center md:justify-between"><p
                        class="text-sm md:py-2 md:text-left text-center font-bold">
                    © 2007-2021 Сервисный центр «Плаза». Все права защищены
                </p>
                    <p class="text-sm md:py-2 text-left font-bold">
                        powered by Gerda
                    </p>
                </div>
            </div>
        </div>

</footer>