<section class="main-banner-zakaz">
    <div class="container-fluid bg-main-banner-zakaz relative">

        <div class="container absolute top-0 right-0 bottom-0 left-0">
            <div class="flex flex-col items-center justify-center px-28 h-full">
                <span class="font-MontserratBold text-82 text-white">Заказчикам</span>
                <p class="font-MontserratSemiBold text-xl text-dark-grey-2 text-center">Очевидно, что эксимер спонтанно
                    стабилизирует наносекундный гамма-квант. Взвесь, вследствие квантового характера явления,
                    наблюдаема. Тело случайно.</p>
                <a class="hidden lg:block btn-1 text-dark-grey font-MontserratBold my-8" href="#">перейти в каталог</a>
            </div>
        </div>
    </div>
</section>