<section class="question bg-dark-grey py-20">
    <div class="container mx-auto">
        <div class="flex">
            <div class="w-70">
                <span class="font-MontserratBold text-7xl text-dark-grey">Остались вопросы?</span>
                <p class="font-MontserratRegular text-xl text-light-grey">У вас остались вопросы или требуется консультация в выборе техники?
                    <br> Оставьте заявку. Поможем с выбором техники, рассчитаем стоимость, расскажем о сервисе.</p>
            </div>
            <div class="w-30 ">
                <form class="mr-0 ml-auto" action="">
                    <input type="text" autofocus id="name" class="rounded-sm px-4 py-3 mt-3 focus:outline-none bg-white w-full" placeholder="Имя" />
                    <input type="phone" autofocus id="phone" class="rounded-sm px-4 py-3 mt-3 focus:outline-none bg-white w-full" placeholder="Телефон" />
                    <button class="mx-auto self-end btn-2 uppercase font-MontserratBold my-5 text-base duration-300 hover:bg-dark-yellow w-full">отправить</button>
                    <p class="font-MontserratRegular text-light-grey text-sm">*Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</p>
                </form>
            </div>
        </div>
    </div>
</section>